{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="text-center my-5">
    <h1>Bienvenido a nuestra Página</h1>
    <p>Explora nuestras secciones para conocer más sobre nosotros.</p>
</div>

<div class="row my-5">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>Nuestra misión es proporcionar los mejores productos y servicios para satisfacer las necesidades de nuestros clientes.</p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>Visión: Ser líderes en el mercado, reconocidos por nuestra calidad, innovación y servicio excepcional.</p>
    </div>
    <div class="col-md-4">
        <h2>Quiénes Somos</h2>
        <p>Somos una empresa dedicada a ofrecer productos y servicios de alta calidad con un compromiso firme hacia nuestros clientes.</p>
    </div>
</div>
{% endblock %}
